<%- include('../partials/header') %>
<p>
  Your upcoming trip to
  <a href="/resorts/<%= resort._id%>/resortName %>"><%=resort.resortName%></a>
  in
  <a href="/resorts/<%= resort._id%>/location %>"><%=resort.location%></a>
  is scheduled for
  <a href="/resorts/<%= resort._id%>/startDate %>"><%=resort.startDate%></a>
  to
  <a href="/resorts/<%= resort._id%>/endDate %>"><%=resort.endDate%></a>
  . This ticket will be purchased through the
  <a href="/resorts/<%= resort._id%>/passUsed %>"><%=resort.passUsed%></a>
  and you are budgeting $
  <a href="/resorts/<%= resort._id%>/budget %>"><%=resort.budget%></a>
  for this trip. You are planning to
  <a href="/resorts/<%= resort._id%>/transportation%>"
    ><%=resort.transportation%></a
  >
  to the resort <% if (resort.transportation === 'Fly'){ %> via
  <a href="/resorts/<%= resort._id%>/airport%>"><%=resort.airport%></a>
  <% } %>
</p>
<br />
<br />

<% if (resort.website !== '') { %>
<label>Link to Website For More Information:</label>
<a href="<%= resort.website %>">Website</a>
<% } %> <% if (user) { %>

<!-- Adding a new review -->
<form
  id="add-review-form"
  method="POST"
  action="/reviews/<%= resort._id %>/addReview"
>
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add-Review" />
</form>

<% } %> <% if (resort.reviews.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Review</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% let total = 0 %> <% resort.reviews.forEach(function(r) { %> <% total +=
    r.rating %>
    <tr>
      <td class="review-user">
        <img src="<%= r.userAvatar %>" /><%= r.userName %>
      </td>
      <td><%= r.createdAt.toLocaleDateString() %></td>
      <td><%= r.content %></td>
      <td><%= r.rating %></td>
      <td>
        <% if (user && user._id.equals(r.user)) { %>
        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="3"></td>
      <td>
        <strong><%= (total / resort.reviews.length).toFixed(1) %></strong>
      </td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Reviews Yet</h5>

<form action="/resorts" method="GET">
  <button type="submit">Return to Resort List</button>
</form>
<% } %> <%- include('../partials/footer') %>

<!-- located in **Colorado, US** is scheduled for **December 5th to December 7th**. 

    This resort is on the **Epic** pass and you have budgeted **$500** for the trip. You are planning to **fly** into **Denver International Airport. ** -->
